.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: rgb(46, 41, 37);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.main {
  flex: 1;
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.title {
  font-size: 42px;
  line-height: 1;
}

.subtitle {
  font-size: 20px;
  font-family: 'Amiri', serif;
  line-height: 1;
}

.loader {
  height: 60px;
}